body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.feedback {
    margin: 0 auto;
    max-width: 785px;
    min-width: 360px;
    border: 2px solid #7099f8;
    border-radius: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

.feedback-group {
    margin: 20px;
    max-width: 820px;
    padding: 10px 5px;
    min-width: 765px;
}

.feedback-label {
    display: block;
    margin-bottom: 15px;
}

.feedback-label span {
    width: 25%;
    display: inline-block;
    margin-bottom: 5px;
}

.feedback-input {
    width: 50%;
    padding: 5px;
    display: inline-block;
    border: 1px solid grey;
}

.persons {
    width: 10%;
}

.little {
    width: 25%;
}

.rubric {
    width: 30%;
}

.public {
    border: none;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

.comments {
    width: auto;
}

.feedback-textarea {
    width: 80%;
    min-height: 100px;
    margin-bottom: 8px;
    resize: vertical;
}

.feedback-button {
    margin: 20px 0;
}

.err-message {
    color: red;
    display: inline;
}

.err {
    border: 1px solid red;
}

.feedback-button {
    display: block;
}